html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: "Helvetica neue";
  background: #27343b;
  color: #fff;
  overflow-x: hidden;
}

main {
  display: grid;
  grid-template-rows: 100px 2fr 100px;
  height: 100vh;
}

#header {
  display: flex;
}

#menu {
  margin-left: auto;
}

#menu ul {
  list-style: none;
}

.arc {
  fill: none;
  stroke-width: 5px;
  stroke-linecap: round;

  stroke: #0da6e0;
  transition: ease-in all 0.15s;
}

#runs-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-row-gap: 50px;
}

div.run {
  display: inline-block;
  padding: 0;
}

section {
  padding: 0px 40px;
}

text {
  font-size: 1.8em;
}

h1 {
  font-size: 5em;
  margin: 0 0 0px;
}

h2 {
  text-align: left;
  font-size: 6em;
  line-height: 100%;
  margin: 0;
}

h3 {
  text-align: left;
  font-size: 2.1em;
  line-height: 135%;
  margin: 0 0 15px;
  text-transform: uppercase;
}

.statsHolder:last-child h3 {
  margin-bottom: 20px;
}

.statsHolder {
  display: inline-block;
  margin: 0 70px 0 0;
  text-align: left;
  vertical-align: top;
}

.statsHolder:last-child {
  margin: 0;
}

svg.run-stats {
  width: 701px;
  display: inline-block;
  height: 44px;
  padding: 1px 0 0;
}

.run-stats text {
  font-style: normal;
  font-size: 2em;
}

p {
  margin: 0 0 5px;
  line-height: 135%;
}

#footer {
  display: flex;
  font-size: 0.5em;
  justify-content: space-between;
  align-items: center;
}

#footer h3 {
  margin: 0;
}

.run-distance {
  opacity: 0;
  font-size: 1em;
  fill: #0da6e0;
  transition: ease-in all 0.15s;
}

.run:hover > svg > path {
  stroke: #ff4c4c;
}

.run:hover .run-distance {
  opacity: 1;
}
