@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #2b213a;
  color: white;
  font-family: "Press Start 2P", cursive;
}

.container {
  display: flex;
  width: 900px;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
}

#gameWrapper {
  display: none;
}

.snakeCanvas,
.tetrisCanvas,
.tetrisPreviewCanvas {
  border: solid 1px #f000be;
  box-shadow: 10px 10px 100px -15px rgba(240, 0, 190, 0.25);
}

.tetrisPreviewCanvas {
  vertical-align: top;
}

.tetrisScore,
.snakeScore {
}
.score {
  display: flex;
  justify-content: space-between;
}
.score p {
  display: inline;
}
.controls {
  font-size: 0.75em;
  text-align: center;
}

.highscores-container {
  max-width: 900px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  font-size: 0.75em;
}

.highscores {
  padding: 0;
}

.highscores li {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.date {
  font-size: 15px;
}
.gameContainer {
  height: 100%;
  position: relative;
}

#snake-beat-link {
  position: absolute;
  top: 16px;
  right: 8px;
  text-decoration: none;
  font-size: 0.75em;
  max-width: 85px;
  text-align: center;
  opacity: 0.5;
  transition: all 0.25s ease-in-out;
}

#snake-beat-link:hover {
  color: #f000be;
  opacity: 1;
}

#orientation-message {
  display: none;
  text-align: center;
}

@media only screen and (max-width: 850px) {
  @media (orientation: portrait) {
    #orientation-message {
      display: block;
    }

    #introWrapper {
      display: none;
    }
  }

  .controls {
    display: none;
  }

  tr:nth-of-type(2) {
    display: contents !important;
  }

  .highscores tr + tr {
    display: none;
  }

  .highscores-container {
    display: none;
  }

  .container {
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
  }

  #snake-beat-link {
    display: none;
  }

  .score p {
    margin-bottom: 0px;
  }

  .logo .text .line-2 {
    transform: initial;
  }
}
