.article {
  margin-bottom: var(--s64);
}

.description {
  color: var(--comment);
  line-height: 1.6;
}

.link:hover {
  text-decoration: none;
}

.link:hover .title {
  text-decoration: underline;
}

.titleContainer {
  line-height: 1.6;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  column-gap: var(--s16);
}

@media only screen and (max-width: 640px) {
  .titleContainer {
    flex-direction: column;
    row-gap: var(--s4);
  }
}

.title {
}

.viewCount {
  color: var(--comment);
  font-size: 1rem;
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 0;
  font-weight: normal;
}

.highlight {
  background: var(--accent);
  border-radius: var(--s4);
}
