@font-face {
  font-family: NationalPark;
  src: url("./fonts/NationalPark-Regular.otf") format("opentype");
}

html,
body {
  margin: 0;
}
body {
  height: 100%;
}

#hero-container {
  overflow: hidden;
  height: 100vh;
}

.if-landscape {
  background: #dcdcd2;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.scene-1 {
  height: 100vh;
  position: relative;
  min-width: 100%;
  margin: auto;
  overflow: hidden;
}

svg#scene-1 {
  position: absolute;
  width: auto;
  min-height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  min-width: 100%;
}

.woods-transition {
  height: 100vh;
}

#hero-text-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
  text-align: center;
  font-size: 3em;
  font-family: NationalPark;
}

#hero-text {
  background: #00000078;
  color: white;
  width: 80%;
}

@media (max-width: 450px) {
  #hero-text h1 {
    font-size: 1em;
  }
  
  #hero-text h3 {
    font-size: 0.75em;
}


main {
  max-width: 38rem;
  padding: 2rem;
  margin: auto;
}

h2 {
  font-family: NationalPark;
  font-size: 2em;
  margin-top: 60px;
}

p,li {
  font-family: "Open Sans", "Roboto", "Helvetica";
  font-size: 1.25rem;
  line-height: 1.3;
}

.banner {
  padding: 24px; 
}

.blue {
  background: #b3d9fe;
}
