.app {
  color: var(--primary-text-color);
  --background-color: #f2f3f7;
  --primary-text-color: #58627c;
  --primary-inverted-text-color: white;
  --accent-color: #25cede;
  --accent-color-shadow-color: rgba(136, 160, 183, 0.35);
  --accent-color-shadow-highlight-color: rgba(255, 255, 255, 0.55);
  --border-radius: var(--s12);
  --shadow-background-color: white;
  --red: #e43030;
  --green: #19a187;
  --shadow-shadow: rgba(0, 0, 0, 0.1);
  --inactive-box-shadow: 6px 6px 10px var(--shadow-shadow),
    -6px -6px 10px var(--shadow-background-color);
  --active-box-shadow: 0 0 transparent, 0 0 transparent, inset 3px 3px 5px var(--shadow-shadow),
    inset -3px -3px 5px var(--shadow-background-color);
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  background: var(--background-color);
  height: 100vh;
  padding: var(--s24) var(--s12);
  padding-top: var(--s32);
}

.inputButton {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: var(--s24);
  margin-top: var(--s8);
}

.app h1 {
  font-weight: 500;
  font-size: 1rem;
  margin-top: 0;
  text-align: center;
}

.paper {
  padding: var(--s16) var(--s24);
  min-height: 100px;
  font-size: 1.2em;
  background: var(--background-color);
  border-radius: var(--border-radius);
  box-shadow: var(--inactive-box-shadow);
}

.app button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  -webkit-tap-highlight-color: transparent;
  height: var(--s48);
  width: var(--s48);
  border-radius: 50%;
  text-transform: capitalize;
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
  color: inherit;
  font-size: 1.1rem;
  transition-property: background-color, box-shadow;
  transition-delay: 0.2s;
  transition-duration: 0.2s;
  background: var(--background-color);
  box-shadow: var(--inactive-box-shadow);
}

.app button:active {
  transition-delay: 0s;
  transition-duration: 0.1s;
  box-shadow: var(--active-box-shadow);
  background: var(--background-color);
}

.app input {
  border-radius: var(--border-radius);
  width: 6ch;
  box-shadow: var(--active-box-shadow);
  background: var(--background-color);
  transition: box-shadow 0.2s;
  color: var(--primary-text-color);
  font-weight: normal;
  padding: 0;
  line-height: 1.25em;
  height: 2.5em;
  text-align: center;
  margin: var(--s12) auto;
  font-size: 2rem;
  cursor: text;
  border: 0;
  outline: 0;
}

.app input:focus {
  border-radius: var(--border-radius);
  background: var(--background-color);
  box-shadow: var(--inactive-box-shadow);
}

.controlsContainer {
  display: flex;
  justify-content: space-between;
}

.app label {
  text-align: center;
}

.inputContainer {
  display: flex;
  margin-top: 20px;
  column-gap: var(--s24);
  row-gap: var(--s24);
  justify-content: center;
  flex-wrap: wrap;
}

.app main {
  display: flex;
  flex-direction: column;
  row-gap: var(--s32);
}

.app .row:not(:last-of-type) {
  border-bottom: 1px solid var(--shadow-shadow);
}

.app .row {
  padding: var(--s16) 0;
  display: flex;
  justify-content: space-between;
}

.app .row:first-of-type {
  padding-top: 0;
}

.app .row:last-of-type {
  padding-bottom: 0;
}

.app .table {
  display: flex;
  flex-direction: column;
}

.app .key {
  font-weight: 300;
}

.app .value {
  font-weight: 700;
}

.plate {
  border-radius: var(--border-radius);
  text-align: center;
  position: relative;
  height: var(--s32);

  color: var(--primary-inverted-text-color);
  border-radius: 20px;

  box-shadow: -5px -5px 5px var(--accent-color-shadow-highlight-color),
    3px 3px 5px var(--accent-color-shadow-color);
}

.plate .plateInner {
  background: var(--accent-color);
  box-shadow: 1px 1px 2px var(--accent-color-shadow-color);
  height: 100%;
  width: 100%;
  border-radius: inherit;
}

.platesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--s4);
}

.plate .label {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
