.blog p,
.blog ul,
.blog ol {
  margin-top: 0;
  line-height: 1.6;
}

.blog p + p {
  margin-bottom: var(--s32);
}

.blog img + p {
  margin-bottom: 0;
}

.blog img {
  width: 100%;
}

.blog figcaption img {
  margin-top: 0;
  margin-bottom: 0;
}

.blog figcaption {
  margin-top: var(--s32);
  margin-bottom: var(--s32);
  text-align: center;
  font-style: italic;
  color: var(--comment);
}

.blog h2 {
  color: var(--warning);
  font-weight: bold;
  font-size: 32px;
  margin-top: var(--s64);
  margin-bottom: var(--s16);
}

.blog h3 {
  font-size: var(--s24);
  color: var(--accent-secondary);
}

.blog h4 {
  font-size: var(--s16);
  color: var(--accent-secondary);
}

.date {
  color: var(--comment);
  font-style: italic;
  margin-top: 0;
  margin-bottom: var(--s64);
}

.title {
  margin-bottom: var(--s8);
}

.blog li > p {
  margin-bottom: 0;
}

.blog ul {
  list-style-type: disclosure-closed;
}

.blog li {
  margin-bottom: var(--s16);
}

.blog ul,
.blog ol {
  margin-left: -36px;
}

.blog ol ul {
  margin-left: initial;
}

.blog code[class*='language-'],
.blog pre[class*='language-'] {
  color: var(--text-primary);
  background: inherit;
  padding: initial;
  font-size: inherit;
  letter-spacing: inherit;
  border-radius: inherit;
}

.blog code {
  background: var(--background-secondary);
  padding: var(--s4);
  font-size: 0.9em;
  letter-spacing: -0.5px;
  border-radius: var(--s4);
}

.blog pre[class*='language-'] {
  border: 1px solid var(--background-secondary);
  background: var(--background-tertiary);
  border-radius: var(--s8);
  padding: var(--s24) var(--s12);
  margin-left: calc(-1 * 16px);
  margin-right: calc(-1 * 16px);
  white-space: pre-wrap;
}

.blog pre::-webkit-scrollbar {
  display: none;
}

.blog pre {
  scrollbar-width: none;
}

.blog table {
  width: 100%;
  border-collapse: collapse;
  border-radius: var(--s8);
  margin-bottom: var(--s12);
}

.blog th {
  color: var(--text-primary);
  font-weight: bold;
}

.blog td,
.blog th {
  padding: var(--s12);
  border: 1px solid var(--background-secondary);
  text-align: left;
}

.blog strong {
  color: var(--alert);
}
