@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #282a36;
  --background-secondary: #353f5c;
  --background-tertiary: #08090a;
  --text-primary: #ffffff;
  --link: #8be9fd;
  --accent: #ff79c6;
  --accent-secondary: #bd93f9;
  --comment: #8996bb;
  --string: #8996bb;
  --success: #50fa7b;
  --alert: #ff5555;
  --warning: #f1fa8c;

  --s4: 4px;
  --s8: 8px;
  --s12: 12px;
  --s16: 16px;
  --s24: 24px;
  --s32: 32px;
  --s40: 40px;
  --s48: 48px;
  --s64: 64px;
  --s80: 80px;
  --s96: 96px;
  --s160: 160px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: fit-content;
  min-height: 100vh;
  font-size: 1rem;
}

#old h1 {
  font-size: 1.75rem;
}

#old h2 {
  font-size: 1.5rem;
  font-weight: normal;
}

#old a {
  cursor: pointer;
  color: var(--link);
}

#old a:hover {
  text-decoration: underline;
}

#old body {
  caret-color: var(--accent-secondary);
}

#__next {
  height: 100%;
  min-height: 100vh;
}

#old a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#old p {
  line-height: 1.6;
}

#new a {
  text-decoration: underline;
}

#new *:not(#background):not(#background *) {
  position: relative;
  max-width: 70ch;
  color: #171717;
  width: fit-content;

  text-decoration: underline;
  text-decoration-thickness: 1lh;
  text-underline-offset: -18px;
  text-decoration-color: white;
  text-decoration-skip-ink: none;
}

#new *:not(#background):not(#background *) ::selection {
  background: black;
  color: white;
  text-decoration: none;
}

@font-face {
  font-family: 'Geist Mono';
  src: url('/fonts/geist/GeistMonoVF.woff2') format('woff2');
  font-weight: 100 900;
}

/* Prism Styles */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--comment);
}

.token.punctuation {
  color: var(--comment);
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--alert);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--accent-secondary);
}

.token.inserted {
  color: var(--success);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: var(--warning);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: var(--link);
}

.token.function,
.token.class-name {
  color: var(--accent);
}

.token.regex,
.token.important,
.token.variable {
  color: var(--warning);
}

.remark-code-title {
  background: var(--background-secondary);
  border-radius: var(--s12);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: var(--s8) var(--s12);
  margin-left: calc(-1 * 16px);
  margin-right: calc(-1 * 16px);
}

.remark-code-title + pre {
  margin-top: 0;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
